body {
    background: url(image.png) no-repeat fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border: 2px dashed white;
    background-color: color-mix(in srgb, rgb(191, 55, 254) 50%, transparent 50%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    color: rgb(128, 128, 128);
    padding: 60px;
    border-radius: 40px;
}

.container header {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 2px dashed white;
}

.form .input-box {
    width: 100%;
    margin-top: 15px;
}

.input-box h3 {
    color: white;
}

.input input,
.input select {
    color: black;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(128, 128, 128, 0.6); /* Border untuk setiap kolom pengisian */
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang */
    font-size: 1rem;
}

.input select {
    color: black;
}

.input option {
    color: black;
}

.column button {
    color: black;
    width: 85px;
    padding: 5px;
    border: 1px solid white; /* Border untuk tombol */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.form .column {
    display: flex;
    column-gap: 7px;
    justify-content: center;
    height: 25px;
    margin-top: 15px;
}

.form .gender {
    margin-top: 15px;
}

.gender .gender-option {
    display: flex;
    column-gap: 10px;
}

.gender .gender-option .gdr label {
    color: white;
}

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}
